<footer  class="has-footer-elementor footer-area   no-padding" style=" padding-top: 2%; background-color:#0e233c">
    <div class="container">
        
        <div class="footer-top">
            <div class="footer-social-link">
                <ul class="list-unstyled">
                    <li><a class="linkedin social-icon" href="https://www.linkedin.com/company/torquehq/" title="Linkedin-f"
                            target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <li><a class="twitter social-icon" href="https://twitter.com/Torque_hq" title="Twitter"
                            target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="telegram social-icon" href="" title="Telegram-p"
                            target="_blank"><i class="fab fa-telegram"></i></a></li>
                    <li><a class="discord social-icon" href="https://discord.gg/9BR3gyda" title="Discord-in"
                            target="_blank"><i class="fab fa-discord"></i></a></li>
                    <li><a class="instagram social-icon" href="https://www.instagram.com/torque_hq_/" title="Instagram"
                            target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a class="reddit social-icon" href="https://www.reddit.com/user/Torque_HQ" title="Vimeo-v"
                            target="_blank"><i class="fab fa-reddit"></i></a></li>
                </ul>
            </div>
        </div> 

        <div class="footer-main">
            <div class="row ">
                <!-- Start Single Widget -->
                <div class="col-xl-4 col-lg-6">
                    <div class="footer-widget border-end">
                        <div id="mc4wp_form_widget-1" class="footer-widget widget widget_mc4wp_form_widget">
                            <div class="footer-menu-link">

                                <script>
                                    (function () {
                                        window.mc4wp = window.mc4wp || {
                                            listeners: [],
                                            forms: {
                                                on: function (evt, cb) {
                                                    window.mc4wp.listeners.push({
                                                        event: evt,
                                                        callback: cb
                                                    });
                                                }
                                            }
                                        }
                                    })();
                                </script>
                                <!-- Mailchimp for WordPress v4.8.7 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-41" method="post"
                                    data-id="41" data-name="Footer">
                                    <div class="mc4wp-form-fields">
                                        <div class="footer-newsletter">
                                            <h2 class="title" style="color:#ffffff; margin-top: 17%; font-family:'Iceland',cursive; " >TORQUE</h2>
                                            <p style="color:#c5c5c5; font-family: 'Nova Flat', cursive;">AmbiPlatforms, LLC
                                                312W. 2nd Street, Suite 1064
                                                Casper, WY 82601</p>

                                       <!--         
                                            <div class="input-group">
                                                <input class="form-control" type="email" name="EMAIL"
                                                    placeholder="Your email address" required />
                                                <input class="subscribe-btn" type="submit" value="Subscribe" />
                                            </div>
                                        -->

                                        </div>
                                    </div><label style="display: none !important;">Leave this field empty if
                                        you're human: <input type="text" name="_mc4wp_honeypot" value=""
                                            tabindex="-1" autocomplete="off" /></label><input type="hidden"
                                        name="_mc4wp_timestamp" value="1656913759" /><input type="hidden"
                                        name="_mc4wp_form_id" value="41" /><input type="hidden"
                                        name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                    <div class="mc4wp-response"></div>
                                </form><!-- / Mailchimp for WordPress Plugin -->
                            </div>
                        </div>
                    </div>
                </div><!-- End Single Widget -->

                <div class="col-xl-8 col-lg-8" style="margin-top:2%;">

                    <div class="row">
                        <!-- Start Single Widget -->
                        <div class="col-xl-6 col-lg-4 col-md-4" style="width:40%; ">
                            <div id="nav_menu-1" class="footer-widget widget widget_nav_menu">
                                <div class="footer-menu-link">
                                    <h6 class="widget-title" style="color:#ffffff; font-family:'Iceland',cursive;">Our Services</h6>
                                    <nav class="menu-services-container" aria-label="Services">
                                        <ul id="menu-services" class="list-unstyled">
                                            <li id="menu-item-4561"
                                                class="menu-item menu-item-type-post_type menu-item-object-axil_services menu-item-4561">
                                                <a href="/#servicess"
                                                    class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">Our Own Blockchain</a></li>
                                            <li id="menu-item-4562"
                                                class="menu-item menu-item-type-post_type menu-item-object-axil_services menu-item-4562">
                                                <a href="/#servicess"
                                                    class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">Blockchain Consulting</a></li>
                                            <li id="menu-item-4563"
                                                class="menu-item menu-item-type-post_type menu-item-object-axil_services menu-item-4563">
                                                <a href="/#servicess"
                                                    class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">VR Metaverse</a></li>
                                            <li id="menu-item-4564"
                                                class="menu-item menu-item-type-post_type menu-item-object-axil_services menu-item-4564">
                                                <a href="/#servicess"
                                                    class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">No-Code AI</a></li>
                                                    <!--
                                            <li id="menu-item-4565"
                                                class="menu-item menu-item-type-post_type menu-item-object-axil_services menu-item-4565">
                                                <a href="services/development/index.html"
                                                    class="nav-link" style="color:#c5c5c5; font-family: 'Nova Flat', cursive;">Blockchain Development</a></li>
                                            <li id="menu-item-4566"
                                                class="menu-item menu-item-type-post_type menu-item-object-axil_services menu-item-4566">
                                                <a href="services/advertising-strategy/index.html"
                                                    class="nav-link" style="color:#c5c5c5; font-family: 'Nova Flat', cursive;">Stablecoin Development</a></li> -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>


                        <!-- Start Single Widget -->
                        <div class="col-xl-3 col-lg-4 col-md-4" style="width:30%">
                            <div id="nav_menu-2" class="footer-widget widget widget_nav_menu">
                                <div class="footer-menu-link">
                                    <h6 class="widget-title" style="color:#ffffff; font-family:'Iceland',cursive; ">Useful Links</h6>
                                    <nav class="menu-resourses-container" aria-label="Resourses">
                                        <ul id="menu-resourses" class="list-unstyled">
                                            <li id="menu-item-4568"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4568">
                                                <a href="/" class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">Home</a></li>
                                            <li id="menu-item-4567"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4567">
                                                <a href="/#aboutuss" class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">About Us</a></li>
                                            <li id="menu-item-4569"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4569">
                                                <a href="/#servicess" class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">Services</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <!-- Start Single Widget -->
                        <div class="col-xl-3 col-lg-4 col-md-4" style="width:30%">
                            <div id="nav_menu-3" class="footer-widget widget widget_nav_menu">
                                <div class="footer-menu-link">
                                    <h6 class="widget-title" style="color:#ffffff; font-family:'Iceland',cursive;">Our Social Networks</h6>
                                    <nav class="menu-support-container" aria-label="Support">
                                        <ul id="menu-support" class="list-unstyled">
                                            <li id="menu-item-4570"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4570">
                                                <a href="" class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">Contact</a></li>
                                            <li id="menu-item-4571"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4571">
                                                <a href="" class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">Privacy
                                                    Policy</a></li>
                                           <li id="menu-item-4572"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4572">
                                                <a href="" class="nav-link footerhover" style=" font-family: 'Nova Flat', cursive;">Terms of
                                                    Use</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 

                    </div>

                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="row">

                <div class="col-md-6">
                    <div class="footer-copyright">
                        <span class="copyright-text">© Copyright AmbiPlateforms. All Rights Reserved
                             <!-- <a href="#" target="_blank"
                                rel="noopener">Axilthemes.</a> -->
                            </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="footer-bottom-link">

                        <ul id="menu-footer-menu" class="quick-link">
                            <li id="menu-item-39"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a
                                    href="" class="nav-link"></a></li>
                            <!-- <li id="menu-item-3036"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3036">
                                <a href="terms-of-use/index.html" class="nav-link">Terms of Use</a></li> -->
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
