<header class="header axil-header header-style-1"  style="background-color: #0e233c; ">
    <div id="axil-sticky-placeholder" style="background-color: #0e233c ;"></div>
    <div class="axil-mainmenu" style="background-color: #0e233c ;">
        <div class="container" >
            <div class="header-navbar" >
                <div class="header-logo">
                    <a href="/" title="Torque" rel="home">

                        <div style="display: flex ;">
                            <img class="light-version-logo"
                            style="height: 3.2000125rem; width: 3.125rem; "
                                src="wp-content/themes/abstrak/assets/images/logo/torquelogoforlight.png"
                                alt="TORQUE">


                            <img class="dark-version-logo"
                            style="height: 51.2002px; width:50px;"
                                src="wp-content/themes/abstrak/assets/images/logo/torquelogoforlight.png"
                                alt="TORQUE">

                            <img class="sticky-logo"
                            style="height: 51.2002px; width:50px; margin-top: 5px;"
                                src="wp-content/themes/abstrak/assets/images/logo/torquelogoforlight.png"
                                alt="Abstrak">
                            <h4
                                style="margin: 10px 0; color:#e3e3e3; font-family: 'Iceland', cursive; font-weight: 00;">
                                TORQUE</h4>

                        </div>
                    </a>

                </div>
                <div class="header-main-nav" id="mobilemenu-popup" style="background-color:#27272E" >
                    <!-- Start Mainmanu Nav -->
                    <div class="d-block d-lg-none" >
                        <div class="mobile-nav-header ">
                            <div class="mobile-nav-logo">
                                <a href="/">
                                    <img class="light-mode"
                                        src="wp-content/themes/abstrak/assets/images/logo/torquelogoforlight.png"
                                        alt="Torque">
                                    
                                        <h4
                                        style="margin: 10px 0; color:#e3e3e3; font-family: 'Iceland', cursive; font-weight: 00;">
                                        TORQUE</h4>
                                </a>
                            </div>
                            <button style="color:white;" class="mobile-menu-close" data-bs-dismiss="offcanvas"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div> 
                    <!-- Start Mainmanu Nav -->
                    <!--   menu-item-has-children   -->
                    <nav id="sideNav" class="mainmenu-nav">
                        <ul id="onepagemenu" class="mainmenu" data-bs-toggle="offcanvas">
                            <li id="menu-item-345"
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent  menu-item-345 axil-post-type-page has-dropdown is-active  is-active">
                                <a href="/" class="nav-link hover-effect"
                                    style="font-family: 'Nova Flat', cursive; color:#C1E3E3; font-size:20px;">Home</a>
                                <!-- <ul class="axil-submenu department-megamenu">
                                    <li id="menu-item-27"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-23 current_page_item menu-item-27 axil-post-type-page is-active">
                                        <a href="index.html" aria-current="page" class="nav-link">Digital
                                            Agency</a></li>
                                    <li id="menu-item-33"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33 axil-post-type-page">
                                        <a href="creative-agency/index.html" class="nav-link">Creative
                                            Agency</a></li>
                                    <li id="menu-item-437"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-437 axil-post-type-page">
                                        <a href="personal-portfolio/index.html" class="nav-link">Personal
                                            Portfolio</a></li>
                                    <li id="menu-item-495"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-495 axil-post-type-page">
                                        <a href="home-startup/index.html" class="nav-link">Home Startup</a></li>
                                    <li id="menu-item-496"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496 axil-post-type-page">
                                        <a href="corporate-agency/index.html" class="nav-link">Corporate
                                            Agency</a></li>
                                    <li id="menu-item-4497"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4497 axil-post-type-page">
                                        <a href="digital-agency-one-page/index.html" class="nav-link">Digital
                                            Agency One Page</a></li>
                                    <li id="menu-item-4498"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4498 axil-post-type-page">
                                        <a href="creative-agency-one-page/index.html" class="nav-link">Creative
                                            Agency One Page</a></li>
                                    <li id="menu-item-4495"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4495 axil-post-type-page">
                                        <a href="personal-portfolio-one-page/index.html"
                                            class="nav-link">Personal Portfolio One page</a></li>
                                    <li id="menu-item-4496"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4496 axil-post-type-page">
                                        <a href="home-startup-one-page/index.html" class="nav-link">Home Startup
                                            One Page</a></li>
                                    <li id="menu-item-4499"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4499 axil-post-type-page">
                                        <a href="corporate-agency-one-page/index.html"
                                            class="nav-link">Corporate Agency One Page</a></li>
                                </ul> -->
                            </li>
                            <li id="menu-item-276"
                                class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-276 axil-post-type-page has-dropdown">
                                <a href="/#aboutuss" class="nav-link hover-effect"
                                    style="font-family: 'Nova Flat', cursive; color:#e3E3E3; font-size:20px;">About</a>
                              
                            </li>
                            <li id="menu-item-335"
                                class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-335 axil-post-type-page has-dropdown">
                                <a href="/#servicess" class="nav-link hover-effect"
                                    style="font-family: 'Nova Flat', cursive; color:#e3E3E3; font-size:20px; ">Services</a>
                               
                            </li>
                            <li id="menu-item-115"
                                class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-115 axil-post-type-page has-dropdown">
                                <a href="/roadmap" class="nav-link hover-effect"
                                    style="font-family: 'Nova Flat', cursive; color:#e3E3E3; font-size:20px; ">Roadmap</a>
                               

                                       

                        </ul>
                    </nav>
                </div>
                <div class="header-action">
                    <ul class="list-unstyled">

                        <li class="sidemenu-btn d-lg-block d-none" style="position: relative; bottom:2px;">
                            <button class="btn-wrap" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasMenuRight">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </li>
                        <li class="mobile-menu-btn sidemenu-btn d-lg-none d-block">
                            <button class="btn-wrap" data-bs-toggle="offcanvas"
                                data-bs-target="#mobilemenu-popup">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </li>
                        <!-- <li class="my_switcher d-block d-lg-none">
                            <ul>
                                <li title="Light Mode">
                                    <a href="javascript:" class="setColor light" data-theme="light"
                                        style="background-color:#1DE5E5">
                                        <i class="fal fa-lightbulb-on"></i>
                                    </a>
                                </li>
                                <li title="Dark Mode">
                                    <a href="javascript:" class="setColor dark" data-theme="dark">
                                        <i class="fas fa-moon"></i>
                                    </a>
                                </li>
                            </ul>
                        </li> -->

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>